@font-face {
    font-family: america;
    src: url(./GT-America-Compressed-Bold.ttf);
}
@font-face {
    font-family:america-b;
    src: url(./GT-America-Compressed-Black-Trial.otf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
}

*::selection{
    color: #fff;
    background-color: #111;
}
html,
body {
    height: 100%;
    width: 100%;
}
#main{
    background-color: #111;
}
#nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    z-index: 99;
    color: #c45508;
}
#nav h3{
    font-family: america;
    text-transform: uppercase;
    color: inherit;
    font-size: 28px;
    width: 20%;
    /* background-color: red; */
    text-align: center;
}
#nav h3:nth-child(1){
    text-align: left;

}
#nav h3:nth-child(2){
    text-align: left;

}
#nav h3:nth-child(3){
    text-align: right;

}
#nav h3:nth-child(4){
    text-align: right;

}

#page1{
    height: 100vh;
    position: relative;
    width: 100%;
    background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/b66561b8981387290c0f682665512759c66aa7bb-2880x1796.png/image.png?bg=F2F1EC&w=1440&h=898&auto=format);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color: #fff;
}
svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.4);
    z-index: 99;
    fill: #c45508;
}
path{
    fill: inherit;
}


#page1 h1{
    font-size: 14vw;
    text-align: center;
    width: 100%;
    padding: 0 10px;
    position: absolute;
    bottom: -5%;
    color: #c45508;
    text-transform: uppercase;
    font-family: america-b;
    font-weight: 900;
}
#page2 h1 span{
    font-family: america-b;
}
#page1 h1::before{
    content: "bownds ranches. est. 1885";
    position: absolute;
    font-size: 1.1vw;
    font-family: gilroy;
    font-weight: 500;
    left: 2.7vw;
}
#page1 h1::after{
    content: "marketing and selling texas ranches";
    position: absolute;
    font-size: 1vw;
    font-family: montserrat;
    font-weight: 500;
    right: 2.7vw;
}


#overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
#scroll{
    background-image: url(https://bowndsranches.com/textures/buttonDarkBg.svg);
    padding: 8px 20px;
    font-family: america;
    word-spacing: 5px;
    color: #fff;
    position: absolute;
    text-transform: uppercase;
    scale: 0;
    transition: all ease-out 0.3s;
}

#page2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    /* background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/217c65c6aa3412acac7b3d2fa8adc9020e487780-2724x1936.jpg/map.jpg?rect=1,0,2723,1936&w=1024&h=728&auto=format); */
    background-position: 60% 0%;
    background-color: #fff;

}
#page2 h1{
    font-size: 13vw;
    line-height: 9.7vw;
    word-spacing: -16px;
    letter-spacing: -4px;
    text-align: center;
    overflow: hidden;
    padding: 100px 100px;
    color: #111;
    position: relative;
    background-color: #fff;
    background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/217c65c6aa3412acac7b3d2fa8adc9020e487780-2724x1936.jpg/map.jpg?rect=1,0,2723,1936&w=1024&h=728&auto=format);
    background-position: 0% 1200%;
    background-repeat: no-repeat;
    font-family: america-b;
}
#page2 h1::before{
    content: "THE REPRESENTATION YOU DESERVE";
    position: absolute;
    bottom: 10%;
    font-size: 1.1vw;
    width: 13%;
    text-align: left;
    line-height: 1.3vw;
    font-family: gilroy;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-weight: 500;

}

#page2 h1::after{
    content: "ONE OF AMERICA’S BEST BROKERAGES";
    position: absolute;
    bottom: 10%;
    font-size: 1.1vw;
    width: 13%;
    right: 10%;
    text-align: right;
    line-height: 1.3vw;
    font-family: gilroy;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-weight: 500;

}
#page2 img{
    height: 800px;
    position: relative;
    left: 28vw;
    rotate: 5deg;
}
#page2 h2{
    font-size: 13vw;
    line-height: 9.7vw;
    word-spacing: -16px;
    letter-spacing: -4px;
    text-align: center;
    padding: 100px 100px;
    color: #111;
    position: relative;
    font-family: america-b;
}
#page2 h2::after{
    content: "THIRD GENERATION FAMILY-OWNED RANCH BROKERAGE";
    font-size: 1.2vw;
    line-height: 1.3vw;
    position: absolute;
    bottom: 10%;
    left: 50%;
    word-spacing: 0px;
    letter-spacing:0px;
    font-family: gilroy;
    font-weight: 600;
    transform: translate(-50%,0);
}
#page3{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #111;
    padding: 100px 120px;
}

#page3 h1{
    color: #fff;
    font-size: 9vw;
    letter-spacing: -5px;
    word-spacing: 0px;
    line-height: 8vw;

    font-family: america;
    text-align: center;
    text-transform: uppercase;
}
#page3 h2{
    color: #fff;
    font-size: 7.5vw;
    letter-spacing: -5px;
    word-spacing: 5px;
    font-weight: 100;
    font-family: america;
    text-align: center;
    -webkit-text-stroke: 3px #111;
    text-transform: uppercase;
}
#page3 p{
    color: #fff;
    font-size: 1vw; 
    width: 50%;
    font-weight: 600;
    font-family: gilroy;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    text-transform: uppercase;

}

#page3 img{
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: top;
}
#img-div{
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
    background-image: url(https://cdn.sanity.io/images/sjvffa0f/production/9b2b1e20d57cf6988eb3192c1a261b8475d701d4-8192x5464.jpg/JRP_BR_01_1165-Edit.jpg?rect=1038,632,3956,4832&bg=F2F1EC&fp-x=0.3681506849315068&fp-y=0.5578489448352462&w=640&h=815&fit=crop&crop=focalpoint&auto=format);
    background-position: top;
    background-size: cover;
    transition: all linear 0.2s;
}
#img-div h5{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px 10px;
    z-index: 99;
    background-color: #fff;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
}